@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.add {
    width: 32px;
    height: 32px;
    background: #f8f8f8;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 8px 148px 8px;
}

.add:hover {
    box-shadow: 0 3px 8px rgb(0, 0, 0, 0.8);
}

.add span {
    font-size: 32px;
    margin-right: 6px;
    color: #4d4d4d;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: rgb(44, 44, 44);
}

.close {
    width: 32px;
    height: 32px;
    background: #f8f8f8;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 8px 148px 8px;
    display: none;
}

.close:hover {
    box-shadow: 0 3px 8px rgb(0, 0, 0, 0.8);
}

.close span {
    font-size: 32px;
    margin-right: 6px;
    color: #4d4d4d;
}

.wrapper {
    height: 400px;
    width: 400px;
    padding: 25px;
    background: #f8f8f8;
    border-radius: 10px;
}

.right-border {
    height: 400px;
    width: 400px;
    padding: 25px;
    background: #9f9f9f;
    border-radius: 10px;
    overflow: auto;
    align-items: center;
    justify-self: center;
}

.left-border {
    height: 400px;
    width: 400px;
    padding: 25px;
    background: #4d4d4d;
    border-radius: 10px;
    overflow: auto;
}

.detail {
    height: 50px;
    width: 400px;
    padding: 8px;
    background: #f8f8f8;
    border-radius: 10px;
}

.record {
    display: flex;
    background: white;
    border-radius: 6px;
    padding: 4px;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.refresh {
    color: white;
    background: #6563ff;
    border: 2px solid #3c3ad6;
    border-radius: 4px;
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.cards .card {
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    0%, 100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card .view {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: white;
    border-radius: 8px;
    transition: transform 0.25s linear;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card .front-view span {
    color: #6563ff;
    font-size: 43px;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card .back-view img {
    max-width: 45px;
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

table {
    margin: 8px;
}

#header-menu {
    background: #32317f;
    color: white;
}

#header-username {
    background: #6563ff;
    color: white;
}

#header-leaderboard {
    background: #4f4dc5;
    color: white;
}

th, td {
    padding: 8px;
    border-style: outset;
    border-radius: 8px;
}

#image-menu {
    height: 48px;
    width: 48px;
}

#table-menu td {
    background: #f8f8f8;
}

#table-menu td:hover {
    background: #848484;
    color: white;
}

#menu-text {
    width: 270px;
}

#form-add {
    padding: 8px;
    border-style: outset;
    border-radius: 8px;
    background: rgb(189, 188, 188);
    border-style: outset;
    display: none;
}

#form-add input{
    margin: 4px;
    padding: 2px;;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;
}

#form-add button {
    margin: 4px 128px 4px;
    padding: 4px;
    border-radius: 8px;
    background: #32317f;
    color: white;
    font-weight: bold;
}