<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Gaia Memory 1 - Memory Card Game" />
    <meta property="og:description" content="Just have fun to play this Memory Card Game" />
    <meta property="og:image" content="../static/images/img-1.png" />

    <link rel="icon" href="../static/images/img-1.png">

    <title>Gaia Memory 1 | Memory Card Game</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <audio id="bg-music" autoplay loop allow="autoplay">
        <source src="../static/music/background-music.mp3" type="audio/mp3">
    </audio>

    <table>
        <tr>
            <th>Menu</th>
            <th>Username</th>
            <th>Leaderboard</th>
        </tr>
        <tr>
            {# Main Menu #}
            <td>
                <div class="left-border">
        
                </div>
            </td>

            {# Main Game #}
            <td>
                <div class="wrapper">
                    <ul class="cards">
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-1.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-2.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-3.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-4.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-5.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-6.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-7.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-8.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-1.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-2.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-3.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-4.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-5.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-6.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-7.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/img-8.png" alt="card-img">
                            </div>
                        </li>
                    </ul>
                </div>
            </td>

            {# Main Leaderboard #}
            <td>
                <div class="right-border">
        
                </div>
            </td>
        </tr>
        <tr>
            <td></td>

            {# Detail Game #}
            <td>
                <div class="detail">
                    <div class="record">
                        <div>Time : 
                            <strong id="time">0s</strong>
                        </div>
                        <span class="material-icons">
                            arrow_back_ios
                        </span>
                        <div>Flips : 
                            <strong id="flip">0</strong>
                        </div>
                        <span class="material-icons">
                            arrow_back_ios
                        </span>
                        <button class="refresh" onclick="refreshGame()" id="start-time">Refresh</button>
                    </div>
                </div>
            </td>
            
            <td></td>
        </tr>
    </table>

    <script src="../static/js/script.js"></script>
</body>
</html>