<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Gaia Memory 1 - Memory Card Game" />
    <meta property="og:description" content="Just have fun to play this Memory Card Game" />
    <meta property="og:image" content="{{ url_for('static', filename='images/gems/img-1.png') }}" />

    <link rel="icon" href="../static/images/gems/img-1.png">

    <title>Gaia Memory 1 | Memory Card Game</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>
    <audio id="bg-music" autoplay loop allow="autoplay">
        <source src="../static/music/background-music.mp3" type="audio/mp3">
    </audio>

    <table>
        <tr>
            <th id="header-menu">Menu</th>
            <th id="header-username">Username</th>
            <th id="header-leaderboard">Leaderboard</th>
        </tr>
        <tr>
            {# Main Menu #}
            <td>
                <div class="left-border">
                    <table id="table-menu">
                        <tr onclick="changeMenu('creature')">
                            <td><img src="../static/images/creature/img-1.png" id="image-menu"></td>
                            <td id="menu-text">CREATURE</td>
                        </tr>
                        <tr onclick="changeMenu('fairytale')">
                            <td><img src="../static/images/fairytale/img-1.png"  id="image-menu"></td>
                            <td id="menu-text">FAIRYTALE</td>
                        </tr>
                        <tr onclick="changeMenu('flower')">
                            <td><img src="../static/images/flower/img-1.png"  id="image-menu"></td>
                            <td id="menu-text">FLOWER</td>
                        </tr>
                        <tr onclick="changeMenu('gems')">
                            <td><img src="../static/images/gems/img-1.png"  id="image-menu"></td>
                            <td id="menu-text">GEMS</td>
                        </tr>
                    </table>
                    <div id="form-add" enctype="multipart/form-data">
                        <input type="text" id="title" placeholder="Enter Title">
                        <input type="file" id="images" accept="image/*" name="images[]" multiple>
                        <button onclick="addCard()">submit</button>
                    </div>
                    <div class="add" onclick="openForm()">
                        <span class="material-icons">
                            add
                        </span>
                    </div>
                    <div class="close" onclick="closeForm()">
                        <span class="material-icons">
                            close
                        </span>
                    </div>
                </div>
            </td>

            {# Main Game #}
            <td>
                <div class="wrapper">
                    <ul class="cards">
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-1.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-2.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-3.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-4.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-5.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-6.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-7.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-8.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-1.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-2.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-3.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-4.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-5.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-6.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-7.png" alt="card-img">
                            </div>
                        </li>
                        <li class="card">
                            <div class="view front-view">
                                <span class="material-icons">
                                    question_mark
                                </span>
                            </div>
                            <div class="view back-view">
                                <img src="../static/images/gems/img-8.png" alt="card-img">
                            </div>
                        </li>
                    </ul>
                </div>
            </td>

            {# Main Leaderboard #}
            <td>
                <div class="right-border">
        
                </div>
            </td>
        </tr>
        <tr>
            <td></td>

            {# Detail Game #}
            <td>
                <div class="detail">
                    <div class="record">
                        <div>Time : 
                            <strong id="time">0s</strong>
                        </div>
                        <span class="material-icons">
                            arrow_back_ios
                        </span>
                        <div>Flips : 
                            <strong id="flip">0</strong>
                        </div>
                        <span class="material-icons">
                            arrow_back_ios
                        </span>
                        <button class="refresh" onclick="refreshGame()" id="start-time">Refresh</button>
                    </div>
                </div>
            </td>
            
            <td></td>
        </tr>
    </table>

    <script src="../static/js/script.js"></script>
</body>
</html>